<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mybatis.IUserDao">

    <select id="queryUserInfoById" parameterType="java.lang.Long" resultType="com.demo.mybatis.User">
        SELECT id, user_id, name, create_time
        FROM a_user
        where id = #{id}
    </select>

    <select id="queryUserInfo" parameterType="com.demo.mybatis.User" resultType="com.demo.mybatis.User">
        SELECT id, user_id, name
        FROM a_user
        where id = #{id} and user_id = #{user_id}
    </select>

    <select id="queryUserInfoList" resultType="com.demo.mybatis.User">
        SELECT id, user_id,name
        FROM a_user
    </select>

    <update id="updateUserInfo" parameterType="com.demo.mybatis.User">
        UPDATE a_user
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <insert id="insertUserInfo" parameterType="com.demo.mybatis.User">
        INSERT INTO a_user
            (user_id, name createTime, updateTime)
        VALUES (#{user_id}, #{name} , now(), now())
    </insert>

    <delete id="deleteUserInfoByUserId" parameterType="java.lang.String">
        DELETE FROM a_user WHERE user_id = #{user_id}
    </delete>

</mapper>
